langchain
langchain_openai
langchain_huggingface
langchain-anthropic
langchain-google-vertexai
langchain-ollama
langchain-community
openai
PyGithub
requests
faiss-cpu  # For CPU; use faiss-gpu if using GPU
transformers
torch
python-dotenv
GitPython
PyYAML
portalocker
